@font-face {
  font-family: 'DancingScript';
  src: url('DancingScript-Regular.otf');
}
body{
  padding: 5%;
  background-color: #02010a;
  font-family: 'DancingScript',cursive;
}
.contenido{
  display: flex;
	flex-direction: column;
}
.contenido img{
 -webkit-filter: drop-shadow(2px 2px 2px #02010a);
 filter: drop-shadow(2px 2px 2px #02010a);
}
header{
  padding: 5%;
  background-color: #5b7989;
  border-radius: 10px 10px 0 0;
  color: white;
}
header h1{
  text-align: left;
  text-shadow: 0 4px 0 #02010a;
}
header a{
  text-align: right;
  color: white;
  text-decoration: none;
}
#imagencentral{
  background-color: #82c3a6;
}
#imagencentral img{
  width: 100%;
}
#imagensecundaria{
  background-color: #d5c75f;
}
#imagensecundaria img{
  margin: 2.5%;
  width: 45%;
  height: 45%;
  border: 1px solid;
}
#imagensecundaria figure{
  display: flex;
  flex-direction: row;
}
@media (max-width:600px){
  #imagensecundaria figure {
    width: 150%;
    display: flex;
    flex-direction: column;
  }
}
footer{
  background-color: #C6d5c5;
  border-radius: 0 0 10px 10px;
  font-family: 'DancingScript',cursive;
  color: black;
  text-decoration: none;
}
.informacion{
  padding: 5%;
  font-size: 12px;
  display: flex;
  flex-direction: row;
}
@media (max-width:600px){
  .informacion{
    width: 100%;
    padding: 20%;
    display: flex;
    flex-direction: column;
  }
}
.contacto{
  width: 25%;
}
.termino{
  width: 25%;
}
.redessociales{
  width: 25%;
}
.derechos{
  width: 25%;
}
footer a{
  color: black;
  text-decoration: none;
}
